// setting custom font
@font-face{
    font-family: Raleway;
    src: url("assets/Raleway-Medium.ttf")
}
@import "tailwindcss";

/* styling body */
.body-style{
    @apply max-h-screen max-w-screen bg-linear-to-br from-cyan-300 to-blue-700;
}
/* styling (centering) the root container */
.content-style{
    @apply h-screen w-screen flex justify-center mt-8;
}
/* styling the container inside the root (containing the app) */
.content{
    @apply flex flex-col gap-10 p-10 h-auto bg-gray-100 rounded-2xl;
}

@theme{
    --font-Raleway: Raleway,"serif";
}
/* heading */
.Header{
    @apply bg-linear-to-tr from-cyan-300 to-blue-700 shadow-md shadow-black/10 mt-[-10%] p-5 rounded-2xl text-4xl text-center text-white font-Raleway font-semibold ;
}
/* form */
.form-input{
    @apply md:w-xl sm:w-lg bg-white shadow-md shadow-black/10 px-5 py-3 rounded-2xl flex justify-between;
}
/* input text box */
.form-text{
    @apply pl-2 font-Raleway text-blue-600 text-xl font-medium focus:border-none focus:outline-none;
}
/* submit button */
.submit-btn{
    @apply p-2 rounded hover:text-white hover:bg-blue-600;
}
/* submit button icon */
.icon{
    @apply text-blue-600 text-xl hover:text-white;
}
.submit-btn:hover .icon{
    @apply text-white;
}

/* list container (containing all list items) */
.list{
    @apply flex flex-col gap-3;
}

/* styling the tasks */
.task{
    @apply flex justify-between p-3 bg-white rounded-xl ;
}
/* task paragraph (todo task) */
.task-para{
    @apply font-Raleway text-xl font-medium tracking-wider text-blue-600; 
}

/* button container for delete and edit button*/
.btn-div{
    @apply flex gap-5;
}
/* button styling (edit and delete button) */
.icon-btn{
 @apply text-lg;
}

.icon-edit{
    @apply text-green-500 hover:text-green-700;
}
.icon-del{
    @apply text-red-500 hover:text-red-700;
}

/* checkbox */
.check{
    @apply w-5 outline-blue-600;
}
.completed{
    @apply line-through text-blue-400;
}