// setting custom font
@font-face{
    font-family: Raleway;
    src: url("assets/Raleway-Medium.ttf")
}
@import "tailwindcss";

/* styling body */
.body-style{
    @apply max-h-full max-w-screen  bg-linear-to-br from-cyan-300 to-blue-700;
}
/* styling (centering) the root container */
.content-style{
    @apply h-screen flex justify-center mt-8;
}
/* styling the container inside the root (containing the app) */
.content{
    @apply flex flex-col gap-10 p-10 h-fit bg-gray-100 rounded-2xl;
}

@theme{
    --font-Raleway: Raleway,"serif";
}
/* heading */
.Header{
    @apply bg-linear-to-tr from-cyan-500 to-blue-700 shadow-md shadow-black/10 mt-[-10%] p-5 rounded-2xl text-4xl text-center text-white font-Raleway font-semibold ;
}

/* form */
.form-input{
    @apply md:w-xl sm:w-lg bg-white shadow-md shadow-black/10 px-5 py-3 rounded-2xl flex justify-between;
}
/* input text box */
.form-text{
    @apply pl-2 font-Raleway text-blue-600 text-xl font-medium focus:border-none focus:outline-none;
}
/* submit button */
.submit-btn{
    @apply p-2 rounded hover:text-white hover:bg-blue-600;
}
/* submit button icon */
.icon{
    @apply text-blue-600 text-xl hover:text-white;
}
.submit-btn:hover .icon{
    @apply text-white;
}

/* list container (containing all list items) */
.list{
    @apply flex flex-col gap-4;
}

/* styling the tasks */
.task{
    @apply flex justify-between items-center p-5 bg-linear-to-br from-cyan-300 to-blue-800 rounded-xl shadow-md shadow-black/20 ;
}
/* task paragraph (todo task) */
.task-para{
    @apply font-Raleway text-xl font-medium tracking-wider text-white cursor-pointer; 
}

/* button container for delete and edit button*/
.btn-div{
    @apply flex gap-5;
}
/* button styling (edit and delete button) */
.icon-btn{
 @apply text-lg;
}

.icon-edit{
    @apply text-green-400 hover:text-green-500;
}
.icon-del{
    @apply text-red-400 hover:text-red-600;
}
/* checkbox */
.icon-check{
     @apply text-xl text-white;
}

.completed{
    @apply line-through font-semibold cursor-pointer;
}